html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
 }

*{
  font-family: 'Lato', sans-serif;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}